.editor-input-header, .editor-output-header, .editor-result-header {
    top: 0 !important;
}

.editor-result-header, .editor-result-output {
    left: 80%;
    right: 0;
}
.editor-result-output {
 bottom:50% !important;
}

.editor-input, .editor-input-header {
    right: 56%;
    left: 0;
}

.editor-output, .editor-output-header {
    right: 21%;
    left: 45%;
}

[class*='editor-'] {
    position: absolute !important;
    top: 24px;
    bottom: 24px;
    text-align: left;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

[class*='editor-'] .ace_cursor {
    border-left: 2px solid !important;
}

.full {
    height: 100% !important;
    width: 100% !important;
}
